@{ 
    ViewData["Title"] = "Success";
}

<h1>Успешно създаден продукт!</h1>


<div>
    <a asp-action="Create">Създаване на нов продукт.</a>
</div>

<div>
    <a asp-action="All">Покажи всички продукти!</a>
</div>