@{ 
    ViewData["Title"] = "Success";
}

<h1>You create a new product succesfully!</h1>


<div>
    <a asp-action="Create">Create a new Product</a>
</div>

<div>
    <a asp-action="All">List all products</a>
</div>