@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> магазин "Наслука"</h1>
    
    <p>
        <img src="https://image.api.playstation.com/vulcan/ap/rnd/202009/1513/1SzCPUj3L9cZqxgmprMCjPqc.jpg"
             alt="img1" style="width:50%" align="left" />
        <img src="https://cdn1.dotesports.com/wp-content/uploads/2021/08/06155859/Rust-Fishing.jpg"
             alt="img2" style="width:50%" align="left" />

<p style="text-align: right;">
        Риболовът е лов на риба, който може да бъде както промишлен (когато рибата се лови в големи количества, обикновено с цел използване като храна), така и спортен (за лично удоволствие, което включва понякога уловът да не бъде употребен за храна, а да бъде пуснат обратно в природата). Промишленият риболов включва използване на кораби снабдени със специални риболовни приспособления – най-често различни видове мрежи. Към него спада и разполагането на постоянни мрежи във водата (наричани таляни/даляни, когато са в морето).
    </p>



</div>
