@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли в магазин "Наслука"</h1>
    <p>
        <a></a>
        <img src="https://nasluka-shop.com/image/cache/catalog/nasluka-600x315w.png" alt="Fish" style="float: left; margin-right: 10px;" width="300" height="300/>

    </p>
    <p style="text-align: center;">
        Риболовът е лов на риба, който може да бъде както промишлен (когато рибата се лови в големи количества, обикновено с цел използване като храна), така и спортен (за лично удоволствие, което включва понякога уловът да не бъде употребен за храна, а да бъде пуснат обратно в природата). Промишленият риболов включва използване на кораби снабдени със специални риболовни приспособления – най-често различни видове мрежи. Към него спада и разполагането на постоянни мрежи във водата (наричани таляни/даляни, когато са в морето).Спортният риболов се поделя основно на подводен (често с използване на харпун и подводна екипировка) и обикновен, който на свой ред се дели на морски (от брега или от лодка), в спокойни води (язовири, езера и т.н.) и речен (обикновено става дума за улов на шаран, речен кефал, бяла риба, щука, сом, мряна, уклей, пъстърва). Съществува и подледен спортен риболов, при който обект на улова са предимно:костур, червеноперка, щука, бяла риба, пъстърва.
    </p>
    

</div>
